/* content 布局部分 */

.main-part-inner {
    max-width: 55em;
    margin: 0 auto;
}

.content-top-nav {
    padding: 2em 2em 1em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 3em;
    overflow: hidden;
    z-index: 1000;
}

.project-name {
    padding: 0.3em;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3em;
}

.project-top-btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-task-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    transition: background-color .2s linear;
    font-size: 1rem;
    margin: 0 0.2em;
    height: 2em;
    color: rgb(102, 102, 102);
    border-radius: 1em;
}

.project-task-top-button:hover, .project-name:hover {
    background-color: rgb(245, 245, 245);
}

.project-top-btn-text {
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    font-size: 0.8rem;
    font-weight: bold;
}

.project-top-btn-last {
    min-width: 2em;
}

.project-task {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.task-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.td-left-container, .td-right-container {
    display: flex;
}

.td-btn {
    font-size: 1rem;
    height: 1.5em;
    width: 1.8em;
    background-color: white;
    border-radius: 0.5em;
    border: none;
    color: rgb(102, 102, 102);
    transition: background-color .2s linear,
                transform .2s ease;

}

.td-btn:hover {
    background-color: rgb(238, 238, 238);
}

.td-btn-move, .td-right-container {
    visibility: hidden;
}

.icon-transform-270 {
    transform: rotate(-90deg);
}

.task-container-parent {
    height: auto;
}

.task-container {
    margin: 0.5em 0.25em;
}

.task-container:hover {
    .td-btn-move, .td-right-container {
        visibility: visible;
    }
}

.not-show {
    max-height: 0;
    overflow: hidden;
}

.td-btn-selected {
    margin-right: 0.3em;
    position: relative;
}

.td-btn-selected:hover {
    cursor: pointer;
}

.td-btn-selected:hover {
    .td-btn-icon-check {
        visibility: visible;
    }

    .td-btn-icon-not-check {
        visibility: hidden;
    }
}

.td-btn-icon-not-check, .td-btn-icon-check {
    position: absolute;
    top: 0.2em;
    left: 0.4em;
    transition: background-color .2s linear;
    z-index: 1;
}

.td-btn-icon-not-check {
    visibility: visible;
}

.td-btn-icon-check {
    position: absolute;
    background-color: rgb(234, 234, 234);
    visibility: hidden;
}

.td-text {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

.td-right-btn {
    margin: 0 0.05em;
}
