
.fix-position-add-task-form-container {
    padding-top: 2em;
    padding-bottom: 2em;
    position: fixed;
    top: 5%;
    left: calc(40% - 10em);
    z-index: 1002;
    overflow: hidden;
    width: calc(20em + 20%);
    transition: opacity .2s ease-in-out,
                box-shadow .5s;
}

.fix-position-not-show {
    opacity: 0;
    height: 0;
    width: 0;
}

.fix-position-inner {
    /* 主要是为了阴影效果才给的 margin */
    margin: 0.5em;
    padding: 1em 1.5em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0, .12);
}

.efficiency-board-inner {
    width: 20em;
    height: 32em;
}

.fix-position-efficiency-board {
    right: 5em;
}

.nav-fix-position-common {
    top: 0;
    padding-top: 2.2em;
    position: fixed;
    z-index: 1002;
    overflow: hidden;
    transition: opacity .2s ease-in-out,
    box-shadow .5s;
}

.fix-position-help-tab {
    right: 5em;
}

.fix-position-message-tab {
    right: 1em;
}

.fix-position-user-tab {
    right: 1em;
}

