/*tailwind 的这些样式有些冲突，注意*/
/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
    box-sizing: border-box;
    /*font-size: calc(0.5vw + 0.6em);*/

}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
