
.nav-user-tab-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nutt-user-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

.nutt-user-name {
    font-size: 0.85rem;
    font-weight: bold;
}

.nutt-user-email {
    font-size: 0.85rem;
    color: rgb(139, 139, 139);
}

.nav-user-tab-each-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nutt-hr {
    margin: 0;
}

.nav-user-tab-btn {
    border: none;
    background-color: transparent;
    width: 2em;
    height: 2em;
}

.nav-user-tab-text {
    font-size: 0.85rem;
    margin-left: 0.7em;
}

.nav-user-tab-text-right {
    color: rgb(102, 102, 102);
    font-size: 0.7rem;
}

.nav-user-bottom-tab {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
