
/* nav 布局部分 */
.top-nav {
    padding: 0.5em 0.5em;
    display: flex;
    justify-content: space-between;
    --nav-bg-color: hsl(4, 62%, 53%);
    --nav-btn-update-color: hsl(5, 69%, 64%);
    --nav-font-color: white;
    --nav-btn-bg-hover: rgb(176, 61, 50);
    background-color: var(--nav-bg-color);
    overflow: hidden;
    position: sticky;
    top: 0;
    /* 考虑到 position 是 sticky，高还是定死 */
    height: 3em;
    width: 100%;
    z-index: 1000;
}


.top-nav-left, .top-nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--nav-font-color);
    border: none;
    height: 2.5em;
    min-width: 3em;
    margin: 0 0.5em;
    border-radius: 0.5em;
}

.nav-button:hover {
    background-color: var(--nav-btn-bg-hover);
    cursor: pointer;
}

.nav-user-button {
    padding: 0;
}

.nav-user-button:hover {
    background-color: var(--nav-bg-color);
}

.nav-btn-icon {
    font-size: 1rem;
}

.nav-btn-search {
    justify-content: start;
    background-color: var(--nav-btn-update-color);
    color: var(--nav-font-color);
    min-width: 12vw;
    padding-left: 0.6em;
    transition: background-color .2s linear,
                color .2s linear;
}

.nav-btn-search:hover {
    background-color: white;
    color: darkgray;
}

.nav-btn-search-text {
    font-size: 0.8rem;
    margin-left: 0.5em;
}

.nav-btn-inner-text {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.nav-btn-update {
    transition: background-color .2s linear;
    background-color: var(--nav-btn-update-color);
}

.nav-text-update {
    font-weight: bold;
    margin-bottom: 0.2em;
}

.user-img {
    width: 2em;
    height: 2em;
    border-radius: 1em;
}

@media (max-width: 750px) {
    .nav-btn-search {
        min-width: 6vw;
    }

    .nav-btn-search-text {
        display: none;
    }

    .nav-text-update {
        display: none;
    }
}

.efficiency-img {
    width: 15em;
    height: 15em;
}

.nav-efficiency-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eff-board-title {
    align-self: start;
}

.eff-board-title-text {
    font-size: 0.85rem;
    font-weight: bold;
}

.eff-board-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2em;
}

.eff-board-desc-item {
    padding: 0.5em 0;
}

.eff-board-desc-title {
    margin-top: 0.5em;
}

.eff-board-desc-title-text {
    font-weight: bold;
}

.eff-board-desc-text {
    font-size: 0.9rem;
    color: rgb(102, 102, 102);
}

.eff-board-btn {
    font-weight: bold;
    color: white;
    background-color: rgb(220, 76, 62);
    border: none;
    border-radius: 5px;
    width: 8em;
    margin-top: 0.5em;
}

.eff-board-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.eff-board-more-text {
    font-size: 0.8rem;
    padding-left: 0.5em;
}
