
.function-btn-container {
    background-color: transparent;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
    transition: background-color .2s linear,
                height .2s linear;
}

.function-btn-container:hover {
    background-color: rgb(238, 238, 238);
}

.function-btn-container-on-show {
    background-color: rgb(238, 238, 238);
}

.f-btn-icon-box {
    color: dodgerblue;
}

.f-btn-icon-today {
    color: green;
}

.f-btn-icon-scan {
    color: purple;
}

.f-btn-icon-tag {
    color: orange;
}

.f-btn {
    background-color: transparent;
    border: none;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-btn-text {
    font-size: 0.9rem;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
}

.f-btn-count {
    font-size: 0.7rem;
    font-weight: lighter;
    padding-right: 0.75em;
    color: rgb(102, 102, 102);
}

.fb-dot {
    font-size: 0.8rem;
    color: rgb(184, 184, 184);
}

.all-project-container {
    padding: 1em 0;
}

.f-btn-c-title {
    padding-left: 0.2em;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(102, 102, 102);
}

.f-btn-c-t-btn {
    height: 2em;
    border-radius: 0.5em;
    background-color: rgb(250, 250, 250);
    border: none;

    opacity: 0;
    transition: opacity .2s linear,
                transform .2s linear;
}

.f-btn-c-t-btn:hover {
    opacity: 1;
}

.btn-transform-90 {
    transform: rotate(90deg);
}

.project-task-container {
    transition: height .2s ease-in;
    overflow: hidden;
}

.project-task-container-not-show {
    padding: 0;

}

.f-btn-count-container {
    position: relative;
}

.f-btn-count-container:hover {
    .f-btn-count-btn {
        background-color: rgb(238, 238, 238);
        opacity: 1;
    }
}

.f-btn-count-btn {
    background-color: transparent;
    border: none;
    top: -0.15em;
    right: -0.05em;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}



