
.task-comment {
    font-size: 0.8rem;
    text-align: left;
    line-height: 2em;
    color: rgb(102, 102, 102);
}

.task-line {
    border: none;
    border-top: 1px rgb(234, 234, 234) solid;
    margin: 0.25em 2.5em;
}

.add-task-btn {
    background-color: white;
    border: none;
    margin-top: 0.2em;
    margin-left: 2em;
    display: flex;
    width: 8em;
    justify-content: center;
}

.add-task-btn:hover {
    .add-task-btn-icon {
        background-color: hsl(4, 62%, 53%);
        color: white;
    }

    .add-task-btn-text {
        color: hsl(4, 62%, 53%);
    }
}

.add-task-btn-icon {
    border-radius: 1.5em;
    height: 1.1em;
    width: 1.1em;
    font-size: 1.2rem;
    margin-left: -0.4em;
    color: rgb(226, 109, 98);
}

.add-task-btn-text {
    padding-left: 0.4em;
    padding-top: 0.1em;
    color: rgb(102, 102, 102);
}

.add-new-task-form {
    margin: 0.1em 2.5em;
    padding: 0.5em 0.7em;
    border: solid 1px rgb(234, 234, 234);
    border-radius: 10px;
    background-color: white;
}

.add-new-task-form-with-shadow {
    box-shadow: 0 0 10px 5px rgba(0,0,0,.35);
}

.add-new-task-form:focus-within {
    border-color: rgb(184, 184, 184);
}

.add-task-input {
    border: none;
    outline: none;
    width: 100%;
    margin: 0.25em 0;
}

.task-name-input {
    font-size: 0.9rem;
    font-weight: bold;
}

.task-description {
    font-weight: lighter;
    margin-bottom: 0.7em;
}

.task-des-btn-container {
    display: flex;
    align-items: center;
}

.task-des-btn {
    height: 2em;
    margin-right: 0.7em;
    background-color: transparent;
    border: solid 1px rgb(234, 234, 234);
    border-radius: 4px;
}

.task-des-btn:hover {
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}

.task-des-btn-text {
    padding-left: 0.5em;
}

.task-des-btn-text, .task-des-btn-icon {
    color: rgb(102, 102, 102);
}

.add-new-task-line {
    border: none;
    border-top: 1px rgb(234, 234, 234) solid;
    margin: 0.5em -0.7em;
}

.add-new-task-bottom-button-container {
    display: flex;
    justify-content: space-between;
}

.antb-btn {
    background-color: transparent;
    border: none;
    height: 2.25em;
    min-width: 5.5em;
}

.antb-btn-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.antb-btn-left:hover {
    background-color: rgb(234, 234, 234);
    border-radius: 5px;
}

.antb-btn-icon-dot {
    margin-top: 0.15em;
    font-size: 0.7rem;
}

.antb-btn-icon-down {
    margin-top: 1em;
    font-size: 0.2rem;
}

.antb-btn-right {
    margin-left: 1em;
}

.antb-btn-text {
    display: inline-block;
    margin-bottom: 0.15em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-weight: bold;

}

.antb-btn-icon-dot, .antb-btn-icon-down, .antb-bt-mywork {
    color: rgb(102, 102, 102);
}

.antb-btn-cancel {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.antb-btn-cancel:hover {
    background-color: rgb(234, 234, 234);
}

.antb-btn-add-task {
    background-color: rgb(237, 165, 158);
    color: white;
    border-radius: 5px;
}

.hover_action_button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: hsl(4, 62%, 53%);
    border: none;

    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    height: 2em;
    margin: 0.5em 0;
    opacity: 0;
    padding: 0 1.75em;
    position: relative;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
    width: 100%;
}

.hover_action_button:focus,
.hover_action_button:hover {
    opacity: 1;
}

/* 画了一条线 */
.hover_action_button:after,
.hover_action_button:before {
    background-color: hsl(4, 62%, 53%);
    content: "";
    display: block;
    flex: 1 1 auto;
    height: 1px;
    opacity: .5;
    margin: 0 1em;
}


.actual-task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
    background-color: white;
    position: sticky;
    top: 8em;
    z-index: 900;
    margin-top: 1.5em;
}

.actual-task-header:hover {
    .ath-btn-move {
        opacity: 1;
    }
}

.ath-nav {
    margin-left: 0.4em;
    position: relative;
}

.ath-control-icon {
    font-size: 0.85rem;
}

.ath-text {
    margin-left: 0.3em;
    font-size: 0.85rem;
    font-weight: bold;
}

.ath-count {
    margin-left: 0.5em;
    font-size: 0.6rem;
    font-weight: lighter;
}

.ath-btn-move {
    position: absolute;
    left: -2em;
    opacity: 0;
}

