/* content 布局部分 */

#content {
    /*overflow: hidden auto;*/
}

#content, .content-top-nav-inner {
    margin: 0 auto;
    text-align: center;
    max-width: 55em;
}

.content-top-nav {
    padding: 1em 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 3em;
    overflow: hidden;
    z-index: 1000;
}

.project-name {
    padding: 0.3em;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3em;
}

.project-top-btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-task-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    transition: background-color .2s linear;
    font-size: 1rem;
    margin: 0 0.2em;
    height: 2em;
    color: rgb(102, 102, 102);
    border-radius: 1em;
}

.project-task-top-button:hover, .project-name:hover {
    background-color: rgb(245, 245, 245);
}

.project-top-btn-text {
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    font-size: 0.8rem;
    font-weight: bold;
}

.project-top-btn-last {
    min-width: 2em;
}

.project-task {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.task-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.td-left-container, .td-right-container {
    display: flex;
}

.td-btn {
    font-size: 1rem;
    height: 1.5em;
    width: 1.8em;
    background-color: white;
    border-radius: 0.5em;
    border: none;
    color: rgb(102, 102, 102);
    transition: background-color .2s linear;
}

.td-btn:hover {
    background-color: rgb(238, 238, 238);
}

.td-btn-move, .td-right-container {
    visibility: hidden;
}

.task-container {
    margin: 0.5em 0.25em;
}

.task-container:hover {
    .td-btn-move, .td-right-container {
        visibility: visible;
    }
}

.td-btn-selected {
    margin-right: 0.3em;
    position: relative;
}

.td-btn-selected:hover {
    cursor: pointer;
}

.td-btn-selected:hover {
    .td-btn-icon-check {
        visibility: visible;
    }

    .td-btn-icon-not-check {
        visibility: hidden;
    }
}

.td-btn-icon-not-check, .td-btn-icon-check {
    position: absolute;
    top: 0.2em;
    left: 0.4em;
    transition: background-color .2s linear;
    z-index: 1;
}

.td-btn-icon-not-check {
    visibility: visible;
}

.td-btn-icon-check {
    position: absolute;
    background-color: rgb(234, 234, 234);
    visibility: hidden;
}

.td-text {
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
}

.td-right-btn {
    margin: 0 0.05em;
}

.task-comment {
    font-size: 0.6rem;
    text-align: left;
    line-height: 3em;
    color: rgb(102, 102, 102);
}

.task-line {
    border: none;
    border-top: 1px #ddd solid;
    margin: 0.25em 2.5em;
}

.add-task-btn {
    background-color: white;
    border: none;
    margin-top: 0.2em;
    margin-left: 2em;
    display: flex;
    width: 8em;
    justify-content: center;
}

.add-task-btn:hover {
    .add-task-btn-icon {
        background-color: hsl(4, 62%, 53%);
        color: white;
    }

    .add-task-btn-text {
        color: hsl(4, 62%, 53%);
    }
}

.add-task-btn-icon {
    border-radius: 1.5em;
    height: 1.1em;
    width: 1.1em;
    font-size: 1.2rem;
    margin-left: -0.4em;
    color: rgb(226, 109, 98);
}

.add-task-btn-text {
    padding-left: 0.4em;
    padding-top: 0.1em;
    color: rgb(102, 102, 102);
}

.hover_action_button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    color: hsl(4, 62%, 53%);
    border: none;

    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    height: 2em;
    margin: 1em 0;
    opacity: 0;
    padding: 0 1.75em;
    position: relative;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
    width: 100%;
}

.hover_action_button:focus,
.hover_action_button:hover {
    opacity: 1;
}

/* 画了一条线 */
.hover_action_button:after,
.hover_action_button:before {
    background-color: hsl(4, 62%, 53%);
    content: "";
    display: block;
    flex: 1 1 auto;
    height: 1px;
    opacity: .5;
    margin: 0 1em;
}


.actual-task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2em;
    background-color: white;
    position: sticky;
    top: 7em;
}

.ath-nav {
    margin-left: 0.4em;
    position: relative;
}

.ath-control-icon {
    font-size: 0.85rem;
}

.ath-text {
    font-size: 0.85rem;
    font-weight: bold;
}

.ath-count {
    font-size: 0.6rem;
    font-weight: lighter;
}

.ath-btn-move {
    position: absolute;
    left: -1.5em;
    visibility: hidden;
}

