/* content 布局部分 */

#content, .content-top-nav-inner {
    margin: 0 auto;
    text-align: center;
    max-width: 45em;
}

.content-top-nav {
    padding: 1em 1.5em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 3em;
}

.project-name {
    padding: 0.3em;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3em;
}

.project-top-btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    transition: background-color .2s linear;
    font-size: 1rem;
    margin: 0 0.2em;
    height: 2.5em;
    min-width: 5em;
    color: rgb(102, 102, 102);
    border-radius: 1em;
}

.project-top-button:hover, .project-name:hover {
    background-color: rgb(245, 245, 245);
}

.project-top-btn-text {
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    font-size: 0.8rem;
    font-weight: bold;
}

.project-top-btn-last {
    min-width: 2em;
}