/* content 布局部分 */

#content {
    /*overflow: hidden auto;*/
}

#content, .content-top-nav-inner {
    margin: 0 auto;
    text-align: center;
    max-width: 45em;
}

.content-top-nav {
    padding: 1em 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    position: sticky;
    top: 3em;
    overflow: hidden;
}

.project-name {
    padding: 0.3em;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.3em;
}

.project-top-btn-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    transition: background-color .2s linear;
    font-size: 1rem;
    margin: 0 0.2em;
    height: 2.5em;
    min-width: 5em;
    color: rgb(102, 102, 102);
    border-radius: 1em;
}

.project-top-button:hover, .project-name:hover {
    background-color: rgb(245, 245, 245);
}

.project-top-btn-text {
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    font-size: 0.8rem;
    font-weight: bold;
}

.project-top-btn-last {
    min-width: 2em;
}

.project-task {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.task-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 0.6em;
}

.td-left-container, .td-right-container {
    display: flex;
}

.td-right-container {
    margin-right: 0.35em;
}

.td-btn {
    font-size: 1rem;
    height: 1.5em;
    width: 1.5em;
    background-color: white;
    border: none;
    color: rgb(102, 102, 102);
}

.td-btn-move, .td-right-container {
    visibility: hidden;
}

.task-container:hover {
    .td-btn-move, .td-right-container {
        visibility: visible;
    }
}

.td-btn-selected {
    margin-right: 0.2em;
}

.td-text {
    padding-top: 0.2em;
    font-weight: 400;
    font-size: 0.8rem;
}

.td-right-btn {
    margin: 0 0.2em;
}

.task-comment {
    font-size: 0.6rem;
    text-align: left;
    line-height: 3em;
    color: rgb(102, 102, 102);
}

.task-line {
    border: none;
    border-top: 1px #ddd solid;
    margin: 0.2em 2.5em;
}

.add-task-btn {
    background-color: white;
    border: none;
    margin-top: 0.2em;
    margin-left: 2em;
    display: flex;
    width: 8em;
    justify-content: center;
}

.add-task-btn:hover {
    .add-task-btn-icon {
        background-color: hsl(4, 62%, 53%);
        color: white;
    }

    .add-task-btn-text {
        color: hsl(4, 62%, 53%);
    }
}

.add-task-btn-icon {
    border-radius: 1.5em;
    height: 1.1em;
    width: 1.1em;
    font-size: 1.2rem;
    margin-left: -0.4em;
    color: rgb(226, 109, 98);
}

.add-task-btn-text {
    padding-left: 0.4em;
    padding-top: 0.1em;
    color: rgb(102, 102, 102);
}

